// @mixin btn-hover {
//     &:after {
//         content: "";
//         display: block;
//         width: 30px;
//         height: 300px;
//         margin-left: 60px;
//         background: #fff;
//         position: absolute;
//         left: -40px;
//         top: -150px;
//         z-index: 1;
//         transform: rotate(45deg);
//         transition: all 0.1s;
//         animation-name: ;
//         animation-duration: 2.5s;
//         animation-delay: 0.05s;
//         animation-timing-function: ease-in-out;
//         animation-iteration-count: infinite;
//     }
// }
@keyframes btn {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}

@mixin btn-hover {
    &:after {
        content: "";
        display: block;
        width: 30px;
        height: 300px;
        margin-left: 60px;
        background: #fff;
        position: absolute;
        left: -40px;
        top: -150px;
        z-index: 1;
        transform: rotate(45deg);
        transition: all 0.1s;
        animation-name: btn;
        animation-duration: 2.5s;
        animation-delay: 0.05s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
}

@mixin dots {
    .slick-dots li.slick-active button {
        opacity: 1;
        background-color: $main-color;
        border-radius: 50%;
    }
    .slick-dots li button:before {
        color: transparent;
    }
    .slick-dots li button {
        font-size: 0;
        border: 1px solid $main-color;
        border-radius: 50%;
    }
    .slick-dots li {
        margin-right: 5px;
        width: 15px;
        height: 15px;
    }
    .slick-dots {
        bottom: -35px;
    }
}